<script setup lang="ts">
import { type Product } from '@/typs/Product'
import { type ReceiptItem } from '@/typs/Receiptitem'
import ProductList from '@/components/ProductList.vue'
import { ref } from 'vue'
import { useReceiptStore } from '@/stores/recript'
import ReceiptDetailTable from '@/views/POS/RecieptDetailTable.vue'
import { nextTick } from 'vue'
import ReceiptCard from './ReceiptCard.vue'
import MemverCard from './MemverCard.vue'
import { provide } from 'vue'
import ReceiptDialog from './ReceiptDialog.vue'

const dialog = ref(false)
provide('reciptDialog',dialog)
const receiptStore = useReceiptStore()
const product = {
  id: 1,
  name: 'ลาเต้ร้อน',
  price: 35.0,
  type: 1
}
const products1: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 2,
    name: 'ลาเต้เย็น',
    price: 440.0,
    type: 1
  },
  {
    id: 3,
    name: 'ลาเต้เย็นๆ',
    price: 42.0,
    type: 1
  },
  {
    id: 4,
    name: 'ลาเต้เย็นๆๆ',
    price: 45.0,
    type: 1
  },
  {
    id: 5,
    name: 'ลาเต้เย็นๆๆๆ',
    price: 45.0,
    type: 1
  },
  {
    id: 6,
    name: 'ลาเต้เย็นๆๆๆๆ',
    price: 78.0,
    type: 1
  },
  {
    id: 7,
    name: 'ลาเต้เย็นๆๆๆๆ',
    price: 78.0,
    type: 1
  },
  {
    id: 8,
    name: 'ลาเต้เย็นๆๆๆๆ',
    price: 78.0,
    type: 1
  },
  {
    id: 9,
    name: 'ลาเต้เย็นๆๆๆๆ',
    price: 78.0,
    type: 1
  }
]
const products2: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ร้อน',
    price: 35.0,
    type: 2
  },
  {
    id: 2,
    name: 'ลาเต้เย็น',
    price: 440.0,
    type: 2
  }
]
const products3: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ร้อน',
    price: 35.0,
    type: 3
  },
  {
    id: 2,
    name: 'ลาเต้เย็น',
    price: 440.0,
    type: 3
  },
  {
    id: 3,
    name: 'ลาเต้เย็นๆ',
    price: 42.0,
    type: 3
  }
]
const showReceipt = function(){
  receiptStore.showReceiptDialog()
}
const tab = ref(1)
const selected = (p: Product) => {
  console.log('productview' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}

const divReceiptItems = ref<HTMLElement | null>(null)
</script>

<template>
  <v-container style="padding: 0">
    <v-row>
      <v-col cols="12" md="6" >
        <v-container>
          <v-row
            ><v-col cols="12" >
              <div ref="divReceiptItems" style="height: 300; overflow: auto">
                <v-sheet
                  width="550"
                  height="300"
                  min-width="520"
                  max-width=""
                  elevation="24"
                  class="overflow-auto"
                >
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
              <br />
              <v-sheet width="550" height="75" min-width="520" max-width="" elevation="24"
                ><MemverCard></MemverCard></v-sheet
              ><br />
              <v-sheet width="550" height="100" min-width="520" max-width="" elevation="24"
                ><ReceiptCard></ReceiptCard> </v-sheet
              ><br />
              <v-sheet
                width="550"
                height="75"
                min-width="520"
                max-width=""
                elevation="24"
              ><v-container>
                <v-row>
                  <v-col cols="12" md="6"><v-btn block rounded="xl" size="large" >ยกเลิก</v-btn></v-col>
                  <v-col cols="12" md="6"><v-btn block rounded="xl" size="large" color="primary" @click="showReceipt">ชำระเงิน</v-btn></v-col>
                </v-row>
              </v-container></v-sheet
              ><br />
            </v-col>
          </v-row> </v-container
      ></v-col>

      <v-col cols="12" md="6" >
        <v-container>
          <v-row>
            <v-col>
              <v-sheet width="550" height="580" elevation="24">
                <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                  <v-tab :value="1">เครื่องเดิม</v-tab>
                  <v-tab :value="2">ขนม</v-tab>
                  <v-tab :value="3">น้ำ</v-tab>
                </v-tabs>
                <v-window v-model="tab">
                  <v-window-item :value="1">
                    <ProductList :products="products1" @selected-product="selected"></ProductList
                  ></v-window-item>

                  <v-window-item :value="2">
                    <ProductList :products="products2" @selected-product="selected"></ProductList
                  ></v-window-item>

                  <v-window-item :value="3">
                    <ProductList :products="products3" @selected-product="selected"></ProductList
                  ></v-window-item> </v-window
              ></v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>
