<script setup lang="ts">
import { type Product } from '@/typs/Product'
import ProductCard from '@/components/ProductCard.vue'
const props = defineProps<{
  products: Product[]
}>()
const emit = defineEmits<{
  selectedProduct: [Product]
}>()
function selected(p:Product){
    console.log('productlist'+p)
    emit('selectedProduct',p)
}
</script>
<template>
  <div style="overflow-y: auto; height: 550">
    <v-container>
      <v-row>
        <v-col cols="12" md="4" v-for="item of products" :key="item.id"
          ><ProductCard :product="item" @selected-product="selected"></ProductCard
        ></v-col>
        <v-col></v-col>
        <v-col></v-col>
      </v-row>
    </v-container>
  </div>
</template>
